@font-face {
  font-family: "Galaksinos Slant";
  src: url(../assets/GalaksinosSlant-1GO5M.ttf);
}
@font-face {
  font-family: "Polesitter";
  src: url(../assets/Polesitter-ZV11J.otf);
}

p {
  margin: 0;
}

.name {
  font-family: "Galaksinos Slant";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  color: #f9dc83;
  padding-left: 71px;
}

body {
  background-color: #fbec50;
}

.bg {
  background-color: #fbec50;
  height: 100vh;
}

.bg .name {
  width: 348px;
  height: 51.12px;
  margin: 24px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 77px;
}

.row .photo {
  min-width: 348px;
  min-height: 395px;
  margin-right: 65px;
  display: inline-table;
}

.row .photo img {
  width: 100%;
  height: 100%;
}

.row .introduce {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
  margin-right: 161px;
}

.cv {
  margin-top: 17px;
  margin-left: 77px;

  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;
  display: block;
}

.group {
  margin-top: 26px;
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */
  width: 413px;
  color: #000000;
  margin-right: 30px;
}

.group .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 25px;
  /* identical to box height, or 89% */

  color: #000000;
}

.group .content {
  margin-top: 14px;
}
